name: Build and test

on:
  push:
  pull_request:

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: "recursive"

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.17.3"

      - name: Build and test
        run: make build check tidy check-dirty

  build-docker-image:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: "recursive"

      - name: Build Docker image
        uses: docker/build-push-action@v4
        with:
          # We need to specify the context explicitly so the action doesn't
          # grab the source straight from the git. That's not a problem in
          # itself but the .git directory (needed by govvv) won't be available.
          context: .
          file: deploy/goer/Dockerfile
          pull: true
